

 .mainContainer {
     height: 100vh;
     width: 100%;
     /* border: 1px solid black; */
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .InnerCintainer {
     height: 90vh;
     width: 95%;
     /* border: 1px solid black; */
     margin-left: 5%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
 }

 .colorDiv {
     width: 100%;
     height: 70vh;
     background-color: #f0f3f6;
     /* border: 1px solid black; */
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 20px;
 }

 .leftSectionMainContainer {
     display: flex;
     flex-direction: column;
     gap: 2.5rem;
     /* border: 1px solid black; */
     /* width: 50%;
    height: 70%; */
     margin-left: 2%;
 }

 .imageCsS {
     height: 100vh;
     width: 65%;
 }

 .headingDiv {
     display: flex;
     flex-direction: column;
     /* border: 1px solid black; */
     gap: 1.5rem;
 }

 .TechFont {
     font-size: 15px;
     font-weight: bold;
 }

 .textDiv {
     border: 1px solid #B8DDD9;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 60%;
     height: 40px;
     border-radius: 10px;
 }

 .HeadingMain {
     font-size: 2.8rem;
     font-weight: bold;
 }

 .MainheadingSpan {
     color: #EC221F;
 }

 .lowerHeroContainer {
     width: 75%;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
 }

 .hedingDesc {
     font-size: 16px;
 }

 .contactButton {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 9px;
     background-color: #EC221F;
     border: none;
     border-radius: 5px;
     height: 80%;
     cursor: pointer;
 }

 .contacttext {
     color: white;
     font-size: 20px;
 }

 .callImage {
     height: 80%;
 }